nav.navbar.navbar-expand.bg-primary.navbar-primary
    #navbarsExample02.collapse.navbar-collapse.justify-content-md-center
        ul.navbar-nav
            li.nav-item: a.nav-link(href="/") All
            li.nav-item: a.nav-link(href="/activeInactive") Active/Inactive
            li.nav-item: a.nav-link(href="/report") Report
